<!DOCTYPE html>
<html lang="{{ app.language}}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ app.params.skinUrl }}/src/css/base.css">
    <link rel="stylesheet" href="{{ app.params.skinUrl }}/src/css/bank.css">
    <title>银行卡</title>
</head>
<body>
<div class="layout">
    <ul>
        <li>
            <div class="top">
                <div class="left">
                    <img src="{{ app.params.skinUrl }}/src/images/index4.png" alt="">
                    <p>中国建设银行</p>
                    <p>储蓄卡</p>
                </div>
                <div class="right">
                    <i>设为默认</i><i class="setbtn"></i>
                </div>
            </div>
            <div class="bottom">6217 **** **** **** 046</div>
        </li>
        <li>
            <div class="top">
                <div class="left">
                    <img src="{{ app.params.skinUrl }}/src/images/index4.png" alt="">
                    <p>中国建设银行</p>
                    <p>储蓄卡</p>
                </div>
                <div class="right">
                    <i>设为默认</i><i class="setbtn"></i>
                </div>
            </div>
            <div class="bottom">6217 **** **** **** 046</div>
        </li>

    </ul>

</div>
<a href="JavaScript:;" class="add">添加银行卡</a>
</body>
<script src="{{ app.params.skinUrl }}/src/js/tool/jquery-2.1.1.min.js"></script>
<script src="{{ app.params.skinUrl }}/src/js/base.js"></script>
<script src="{{ app.params.skinUrl }}/src/js/tool/fastclick.js"></script>
<script src="{{ app.params.skinUrl }}/src/js/bank.js"></script>
</html>